name: CI Pipeline

on: [push, pull_request]

jobs:
  lint:
    name: ShellCheck Linting
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Run ShellCheck
        # Koristimo gotovu GitHub akciju za shellcheck
        uses: ludeeus/action-shellcheck@master